/* @font-face {
  font-family: font;
  src: url(./Assets/Fonts/MilkyNice-Clean.otf);
}
@font-face {
  font-family: projectFont;
  src: url(./Assets/Fonts/WoodpeckerDemo-w1ljn.otf);
} */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a;
  color: #dcfaf8;
  font-family: font !important;
}
/* .changeFont, h1, h2{
  font-family: projectFont !important;
}
button, span, div{
  font-family: font !important;
}
h1, h2{
  font-family: projectFont !important;
} */